.paddingb30 { padding-bottom: 30px; }

img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}

.top-line ul.social-icons li a:hover {
	background: #f44336;
}

.navbar-brand span {
	color: #f44336 !important;
}

.navbar-nav > li > a:before {
	background: #f44336;
}

.navbar-nav li.drop ul.dropdown {
	border-top: 3px solid #f44336;
}

.navbar-nav .megadropdown .inner-megadropdown {
	border-top-color: #f44336;
}

header.third-style .list-line-posts .owl-wrapper .owl-theme .owl-controls .owl-buttons div.owl-prev:hover,
header.third-style .list-line-posts .owl-wrapper .owl-theme .owl-controls .owl-buttons div.owl-next:hover {
	border-color: #f44336;
	background: #f44336;
}

.title-section h1 span {
	border-bottom: 1px solid #f44336;
}

.title-section .arrow-box a:hover {
	background: #f44336;
	border: 1px solid #f44336;
}

.title-section.white .arrow-box a:hover {
	border: 1px solid #f44336;
}

a.category-post {
	background: #f44336;
}

.ticker-news-box span.breaking-news {
	background: #f44336;
}

.ticker-news-box span.breaking-news:after {
	background: #f44336;
}

.ticker-news-box .ticker-content span.time-news {
	color: #f44336;
}

.ticker-news-box .ticker-content a:hover {
	color: #f44336;
}

.ticker-news-box .ticker-controls li:hover {
	border: 1px solid #f44336;
	background: #f44336;
}

.owl-theme .owl-controls .owl-buttons div:hover {
	color: #ffffff;
	background: #f44336;
	border: 1px solid #f44336;
}

.feature-video .owl-theme .owl-controls .owl-buttons div:hover {
	color: #ffffff;
	background: #f44336;
	border: 1px solid #f44336;
}

.pagination-box ul.pagination-list li a:hover,
.pagination-box ul.pagination-list li a.active {
	border: 1px solid #f44336;
	background: #f44336;
	color: #ffffff;
}

.heading-news2 .ticker-news-box .ticker-content a:hover {
	color: #f44336;
}

.heading-news2 .ticker-news-box .ticker-controls li:hover {
	border: 1px solid #f44336;
	background: #f44336;
}

.center-button > a:hover {
	color: #ffffff;
	background: #f44336;
	border-color: #f44336;
}

.slider-caption-box #bx-pager a.active {
	background: #f44336;
	color: #ffffff;
}

.big-slider .bx-wrapper .bx-pager.bx-default-pager a.active {
	border-color: #f44336;
	background: #f44336;
}

.sidebar .features-slide-widget .bx-wrapper .bx-pager.bx-default-pager a:hover,
.sidebar .features-slide-widget .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #f44336;
	border: 2px solid #f44336;
}

.sidebar .subscribe-widget form button {
	color: #f44336;
}

.sidebar .tab-posts-widget ul.nav-tabs {
	border-bottom: 2px solid #f44336;
}

.sidebar .tab-posts-widget ul.nav-tabs li a:hover {
	background: #f44336;
}

.sidebar .tab-posts-widget ul.nav-tabs li.active a {
	border: none;
	background: #f44336;
}

.sidebar .review-widget h1 {
	background: #f44336;
}

.sidebar .review-widget ul.review-posts-list li h2 a:hover {
	color: #f44336;
}

.sidebar .categories-widget ul.category-list li a:hover {
	color: #f44336;
}

.sidebar .categories-widget ul.category-list li a:hover span {
	background: #f44336;
	border: 1px solid #f44336;
}

.sidebar .flickr-widget > a:hover {
	color: #f44336;
}

a.read-more-button:hover {
	background: #f44336;
	border-color: #f44336;
}

span.top-stories {
	background: #f44336;
}

.image-post:hover .hover-box .inner-hover h2 a:hover {
	color: #f44336;
}

.image-post:hover .hover-box .inner-hover ul.post-tags li a:hover {
	color: #f44336;
}

ul.post-tags li a:hover {
	color: #f44336;
}

.standard-post .post-content h2 a:hover {
	color: #f44336;
}

.standard-post2 .post-title h2 a:hover {
	color: #f44336;
}

.image-post2 .hover-box ul.post-tags li a:hover {
	color: #f44336;
}

.image-post2 div.post-content p a {
	color: #f44336;
}

ul.list-posts > li .post-content h2 a:hover {
	color: #f44336;
}

.article-post .post-content h2 a:hover {
	color: #f44336;
}

.large-post .post-title h2 a:hover {
	color: #f44336;
}

div.list-post .post-content h2 a:hover {
	color: #f44336;
}

.very-large-post .title-post h2 a:hover {
	color: #f44336;
}

.very-large-post .share-box a.likes:hover {
	color: #f44336;
}

.very-large-post .share-box a.likes:hover i {
	color: #f44336;
}

.single-post-box > .post-content p a {
	color: #f44336;
}

.single-post-box .article-inpost .image-content .image-place .hover-image a {
	background: #f44336;
}

.single-post-box .review-box .member-skills .meter p {
	background: #f44336;
}

.single-post-box .review-box .summary-box .summary-degree {
	background: #f44336;
}

.single-post-box .prev-next-posts .post-content h2 a:hover {
	color: #f44336;
}

.single-post-box .about-more-autor ul.nav-tabs {
	border-bottom: 2px solid #f44336;
}

.single-post-box .about-more-autor ul.nav-tabs li a:hover {
	background: #f44336;
}

.single-post-box .about-more-autor ul.nav-tabs li.active a {
	background: #f44336;
}

.single-post-box .about-more-autor .autor-box .autor-content .autor-title h1 a {
	color: #f44336;
}

.single-post-box .about-more-autor .autor-box .autor-content .autor-title ul.autor-social li a:hover {
	background: #f44336;
}

.single-post-box .comment-area-box ul li .comment-box .comment-content h4 a.comment-reply-link:hover {
	background: #f44336;
	border: 1px solid #f44336;
}

.contact-form-box #contact-form input[type="text"]:focus,
.contact-form-box #comment-form input[type="text"]:focus,
.contact-form-box #contact-form textarea:focus,
.contact-form-box #comment-form textarea:focus {
	border: 1px solid #f44336;
}

.contact-form-box #contact-form button:hover,
.contact-form-box #comment-form button:hover {
	background: #f44336;
}

.error-banner {
	background: #f44336;
}

ul.autor-list > li .autor-box .autor-content .autor-title h1 a {
	color: #f44336;
}

ul.autor-list > li .autor-box .autor-content .autor-title ul.autor-social li a:hover {
	color: #f44336;
}

ul.autor-list > li .autor-last-line ul.autor-tags li a:hover {
	background: #f44336;
	border-color: #f44336;
}

.forum-table div.first-col a:hover {
	color: #f44336;
}

.forum-table div.table-row > div h2 a:hover {
	color: #f44336;
}

.forum-table div.table-row div.third-col p a {
	color: #f44336;
}

.forum-table div.table-row div.forum-post .post-autor-date h2 a:hover {
	color: #f44336;
}

.forum-table div.table-row div.forum-post .post-autor-date p a {
	color: #f44336;
}

.forum-table p.posted-in-category a {
	color: #f44336;
}

#log-in-popup form.login-form label span,
#log-in-popup form.register-form label span,
#log-in-popup form.lost-password-form label span {
	color: #f44336;
}

#log-in-popup form.login-form button[type="submit"]:hover,
#log-in-popup form.register-form button[type="submit"]:hover,
#log-in-popup form.lost-password-form button[type="submit"]:hover {
	background: #f44336;
}

#log-in-popup form.login-form > a:hover,
#log-in-popup form.register-form > a:hover,
#log-in-popup form.lost-password-form > a:hover {
	color: #f44336;
}

#log-in-popup form.login-form p.register-line a:hover,
#log-in-popup form.register-form p.register-line a:hover,
#log-in-popup form.lost-password-form p.register-line a:hover,
#log-in-popup form.login-form p.login-line a:hover,
#log-in-popup form.register-form p.login-line a:hover,
#log-in-popup form.lost-password-form p.login-line a:hover {
	color: #f44336;
}

body.comming-soon-page #comming-soon-content #clock .comming-part p {
	color: #f44336;
}

body.comming-soon-page #comming-soon-content form.subscribe h1 span {
	color: #f44336;
}

body.comming-soon-page #comming-soon-content form.subscribe input[type=text]:focus {
	border: 1px solid #f44336;
}

body.comming-soon-page #comming-soon-content form.subscribe button:hover {
	background: #f44336;
}

footer .categories-widget ul.category-list li a:hover {
	color: #f44336;
}

footer .categories-widget ul.category-list li a:hover span {
	background: #f44336;
	border: 1px solid #f44336;
}

footer .tags-widget ul.tag-list li a:hover {
	background: #f44336;
	border: 1px solid #f44336;
}

footer .subscribe-widget form {
	background: #f44336;
}

footer .subscribe-widget form button {
	background: #f44336;
}

@media (max-width: 767px) {
	.navbar-nav > li:hover > a {
		color: #f44336 !important;
	}
	header.second-style .navbar-nav > li a:hover {
		color: #f44336 !important;
	}
}

.widget_categories ul li:hover span {
	background: #f44336;
	border-color: #f44336;
}

.widget_recent_entries ul li a:hover,
.widget_recent_comments ul li a:hover,
.widget_archive ul li a:hover,
.widget_categories ul li a:hover,
.widget_meta ul li a:hover,
.widget_pages ul li a:hover,
.widget_rss ul li a:hover,
.widget_nav_menu ul li a:hover,
.product-categories li a:hover {
	color: #f44336;
}

#submit-contact:hover {
	background: #f44336;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	border: 1px solid #f44336;
}

.title-section h2 span {
	border-bottom: 1px solid #f44336;
}

.pagination-box ul.pagination-list li .current {
	border: 1px solid #f44336;
	background: #f44336;
}

input[type="submit"]:hover {
	background: #f44336;
}

#reply-title span {
	border-bottom: 1px solid #f44336;
}

form.mc4wp-form button {
	color: #f44336;
}

footer .tagcloud a:hover {
	background: #f44336;
}

footer form.mc4wp-form {
	background: #f44336;
}

footer form.mc4wp-form button {
	background: #f44336;
}

.image-post3:hover .hover-box,
.video-post:hover .hover-box,
.image-post-slider .bx-wrapper .bx-prev:hover,
.image-post-slider .bx-wrapper .bx-next:hover,
.heading-news2 .heading-news-box .news-post:hover .hover-box,
.galery-box #bx-pager2 a.active:before {
	background: rgba(244, 67, 54, 0.9);
}

.ticker-news-box span.breaking-news,
.ticker-news-box span.breaking-news:after {
	background: #f5d76e;
}

.title-section h2 span {
	border-bottom: 1px solid #717171;
}

.navbar-nav > li > a:before {
	background: transparent;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	background: #f44336;
	color: #fff !important;
}

.navbar-default .navbar-nav>.active>a:before,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover:before {
	background: #333333;
}

.navbar-default .navbar-nav>li>a > i {
	top: 23px;
	right: 3px;
}

footer .posts-widget ul.list-posts > li .post-content > a {
	display: inline-block;
}

body {
	font-family: Lato;
	line-height: 20px;
	font-weight: 400;
	font-style: normal;
	color: #666666;
	font-size: 14px;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.24s ease-in-out;
	-moz-transition: opacity 0.24s ease-in-out;
	transition: opacity 0.24s ease-in-out;
}

.wf-loading body,
{
	opacity: 0;
}

.ie.wf-loading body,
{
	visibility: hidden;
}

.vc_custom_1456393976362 {
	padding-right: 15px !important;
	padding-left: 15px !important;
}

.vc_custom_1453727436617 {
	padding-right: 15px !important;
	padding-left: 15px !important;
}

.vc_custom_1453735185656 {
	padding-right: 15px !important;
	padding-left: 15px !important;
}

.vc_custom_1453735197052 {
	padding-right: 15px !important;
	padding-left: 15px !important;
}